<page class="process design" id="design">
  <centered>
    <hbox xs="12" sm="10" md="8" justify="between">
      <centered xs="12" sm="6">
        {{svg-jar "design" class="svg-icon" height="350px" width="350px"}}
      </centered>

      <box xs="12" sm="6" justify="center">
        <h2 class="heading">Design</h2>
        <h3 class="sub-heading">Measure twice, cut once</h3>
        <p class="info">
          We put a great deal of time into developing a sound architecture and ensuring we
          have a solid understanding of your wants and needs. We'll work with you to
          develop a gameplan and we won't start working until you sign off on it.
        </p>
      </box>
    </hbox>
  </centered>
  <a data-scroll aria-hidden="true" href="#build">
    {{scroll-suggest}}
  </a>
</page>
<page class="process build" id="build">
  <centered>
    <hbox xs="12" sm="10" md="8" justify="between">
      <centered xs="12" sm="6">
        {{svg-jar "build" class="svg-icon" height="275px" width="275px"}}
      </centered>

      <box xs="12" sm="6" justify="center">
        <h2 class="heading">Build</h2>
        <h3 class="sub-heading">Convention over configuration</h3>
        <p class="info">
          We use the latest versions of Ember.js and Ember-CLI in all of our products, and
          we strive to stay up to date with new releases. We leverage the amazing Ember
          community, and the huge breadth of addons, to help us iterate faster, and
          focus on making quality apps, rather than reinventing the wheel.
        </p>
      </box>
    </hbox>
  </centered>
  <a data-scroll aria-hidden="true" href="#ship">
    {{scroll-suggest}}
  </a>
</page>
<page class="process ship" id="ship">
  <centered>
    <hbox xs="12" sm="10" md="8" justify="between">
      <centered xs="12" sm="6">
        {{svg-jar "ship" class="svg-icon" height="275px" width="275px"}}
      </centered>

      <box xs="12" sm="6" justify="center">
        <h2 class="heading">Ship</h2>
        <h3 class="sub-heading">Real artists ship</h3>
        <p class="info">
          We'll keep you in the loop with regular demos, frequent calls, chats, dinners, drinks,
          whatever floats your boat. We won't just develop huge chunks of the app and
          hope you like it. Your input is crucial to making sure you are 100% happy
          with the product.
        </p>
      </box>
    </hbox>
  </centered>
  <a data-scroll aria-hidden="true" href="#technologies">
    {{scroll-suggest}}
  </a>
</page>
