<div class="{{this.styleNamespace}} portfolio-container section flex flex-wrap justify-center">
  <div class="section-content">
    <h2 class="heading">Ember Addons</h2>
    <p>
      The addons Ship Shape has created have been downloaded millions of times, and are used in
      production apps of Fortune 100 companies.
    </p>

    <div class="flex flex-wrap justify-center">
      {{#each model as |project|}}
        <div itemscope itemtype="http://schema.org/SoftwareSourceCode" class="project flex-1">
          <a href="https://github.com/shipshapecode/{{project.name}}" class="repo" itemprop="codeRepository">
            <div class="flex flex-wrap items-center justify-center">
              <div>
                {{svg-jar project.name class="addon-icon" height="150px" width="150px"}}
              </div>
              <div class="w-full text-center">
                <h3 class="repo-name text-navy">{{project.name}}</h3>
              </div>
              <div class="text-center">
                <h5 class="repo-description text-grey font-light">{{project.description}}</h5>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>