<centered>
  <grid>
    <centered xs="12">
      <h1>Ember Addons</h1>
    </centered>
    {{#each projects as |project|}}
      <centered xs="12" sm="6" md="4">
        <vbox>
          <hbox>
            <centered>
              <h2>{{project.name}}</h2>
            </centered>
          </hbox>
          <hbox>
            <centered>
              {{fa-icon 'star' size='lg'}} <span class="stars">{{project.stars}}</span>
              <a href="https://github.com/shipshapecode/{{project.repo}}">{{fa-icon "github-alt" size='lg'}}</a>
            </centered>
          </hbox>
        </vbox>
      </centered>
    {{/each}}
  </grid>
</centered>
