<centered>
  <grid>
    <centered xs="12" id="ember-addons">
      <h1 class="heading">Ember Addons</h1>
    </centered>
    {{#each projects as |project|}}
      <centered xs="12" sm="6" md="4">
        <vbox>
          <hbox>
            <centered xs="12">
              <centered xs="10">
                {{device-mock name=project.name}}
              </centered>
            </centered>
          </hbox>
          <hbox>
            <centered xs="12">
              <h2>{{project.name}}</h2>
            </centered>
          </hbox>
          <hbox>
            <centered xs="12">
              {{svg-jar "star" height="20px" width="20px"}} <span class="stars">{{project.stars}}</span>
              <a href="https://github.com/shipshapecode/{{project.name}}" class="ssIcon github-icon">
                {{svg-jar "github-alt" height="24px" width="24px"}}
              </a>
            </centered>
          </hbox>
        </vbox>
      </centered>
    {{/each}}
  </grid>
</centered>

<a data-scroll href="#sponsored-oss">
  {{scroll-suggest}}
</a>
