<div class="bg-grey-transparent flex">
  <div class="flex items-center p-8 w-1/2">
    <a href="/" class="logo flex">
      <div
        class="inline-block"
        itemprop="logo"
        itemscope
        itemtype="https://schema.org/ImageObject"
        itemid="shipshapelogo"
      >
        <img itemprop="url" src="/img/logo.png" height="50px" width="50px" alt="Ship Shape">
        <meta itemprop="height" content="128">
        <meta itemprop="width" content="128">
      </div>
      <div
        class="inline-flex items-center text-navy text-3xl"
        itemprop="name"
      >
        Ship Shape
      </div>
    </a>
  </div>
  <div class="flex items-center justify-end p-8 w-1/2">
    {{link-to "Case Studies" "work" class="p-4"}}
    {{link-to "Ember Consulting" "ember-consulting" class="p-4"}}
    {{link-to "Open Source" "open-source" class="p-4"}}
    {{link-to "Blog" "blog" class="p-4"}}
    {{link-to "Contact" "contact" class="p-4"}}
  </div>
</div>