<div class="contact-container">
  <centered>
    <grid>
    <centered xs="12">
      <h1>Let's get you in ship shape</h1>
    </centered>
    <centered xs="12">
      <centered xs="8">
        We'd love to work with you on your next Ember project. Drop us a line to get the ball rolling!
      </centered>
    </centered>
    <centered xs="12">
      <h2><a href="mailto:ahoy@shipshape.io">ahoy@shipshape.io</a></h2>
    </centered>
  </grid>
  </centered>
  {{!--
  <centered>
    <form class="cd-form floating-labels">
      <fieldset>
        <legend>Personal Info</legend>
        <centered xs="12">
          {{contact-input
          fieldName="name"
          labelText="Name"
          required=true
          type="text"
          value=name
          }}
        </centered>

        <centered xs="12">
          {{contact-input
          fieldName="company"
          labelText="Company"
          required=false
          type="text"
          value=company
          }}
        </centered>

        <centered xs="12">
          {{contact-input
          fieldName="email"
          labelText="Email"
          required=true
          type="email"
          value=email
          }}
        </centered>
      </fieldset>

      <fieldset>
        <legend>Project Info</legend>

        <centered xs="12">
          {{form-list
          groupValue="oss"
          options=model.projectTypes
          type="radio"}}
        </centered>

        <centered xs="12">
          {{contact-input
          fieldName="textarea"
          labelText="Project description"
          required=true
          textarea=true
          value=description
          }}
        </centered>

      </fieldset>

      <div>
        <input type="submit" value="Send Message">
      </div>
    </form>
  </centered>
  --}}
</div>
