<div class="{{this.styleNamespace}} section flex flex-wrap justify-center bg-grey-transparent">
  <div class="section-content flex flex-wrap justify-center">
    <div class="max-w-xl pb-24 w-full">
      <h2 class="heading text-center">
        Community Involvement
      </h2>

      <p>
        We've been using Ember since 2012, and have been very active in the community. We maintain countless Ember addons, contribute
        to Ember, Ember-CLI, and the Ember docs sites, run the Ember.JS DC meetup, sponsor and run workshops at
        EmberConf, and anything and everything we can possibly do to help further Ember as a framework and as a
        community.
      </p>
    </div>

    <div class="flex flex-wrap">
      <div class="w-full lg:pr-12 lg:w-1/3">
        <div class="text-center w-full">
          {{svg-jar "emberconf" class="ember-image p-12"}}
        </div>

        <h3 class="heading">EmberConf</h3>

        <p class="h-auto lg:h-48">
          We ran the Improving Ember App Performance workshop at EmberConf 2018, where we explored techniques to reduce your bundle
          size, improving your rendering performance, and cache your assets to make reloads blazing fast.
        </p>

        <p>
          <a
            class="learn-more"
            href="https://2018.emberconf.com/schedule.html#e-improving-ember-app-performance"
          >
            Learn More {{svg-jar "angle-right" class="h-4 w-4"}}
          </a>
        </p>
      </div>

      <div class="w-full lg:pl-6 lg:pr-6 lg:w-1/3">
        <div class="text-center w-full">
          {{svg-jar "ember-cares" class="ember-image p-4"}}
        </div>

        <h3 class="heading">Ember Cares</h3>

        <p class="h-auto lg:h-48">
          We spearheaded the efforts behind Ember Cares in 2017, where we created a No Shave November Tomster and Breast Cancer Awareness
          Zoey and sold merch to raise money for the Cancer Research Institute.
        </p>

        <p>
          <a
            class="learn-more"
            href="https://embercares.com/"
          >
            Learn More {{svg-jar "angle-right" class="h-4 w-4"}}
          </a>
        </p>
      </div>

      <div class="w-full lg:pl-12 lg:w-1/3">
        <div class="text-center w-full">
          <img class="ember-image p-8" src="/img/ember-dc.png" alt="Ember.JS DC Tomster in front of the White House">
        </div>

        <h3 class="heading">Ember.JS DC</h3>

        <p class="h-auto lg:h-48">
          We organize the Ember.JS DC meetup, and we try to spread the love throughout Virginia and Maryland as well, alternating meeting
          spots. If you are an Ember enthusiast, of any level, we would love to have you come learn with us!
        </p>

        <p>
          <a
            class="learn-more"
            href="https://www.meetup.com/Ember-JS-DC/"
          >
            Learn More {{svg-jar "angle-right" class="h-4 w-4"}}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>