<div class="{{this.styleNamespace}} flex flex-shrink p-12">
  <div class="pagination-wrapper {{if transitionNext "transition-next"}} {{if transitionPrev "transition-prev"}}">
    {{#if (gt @page 1)}}
      <svg
        class="btn btn--prev"
        height="96"
        viewBox="0 0 24 24"
        width="96"
        xmlns="http://www.w3.org/2000/svg"
        {{action "previous"}}
      >
        <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
        <path d="M0-.5h24v24H0z" fill="none"/>
      </svg>
    {{/if}}

    <div class="pagination-container">
      <div class="little-dot little-dot--first rounded-full"></div>
      <div class="little-dot rounded-full">
        <div class="big-dot-container rounded-full">
          <div class="big-dot rounded-full"></div>
        </div>
      </div>
      <div class="little-dot little-dot--last rounded-full"></div>
    </div>

    {{#if this.postsRemaining}}
      <svg
        class="btn btn--next"
        height="96"
        viewBox="0 0 24 24"
        width="96"
        xmlns="http://www.w3.org/2000/svg"
        {{action "next"}}
      >
        <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
        <path d="M0-.25h24v24H0z" fill="none"/>
      </svg>
    {{/if}}
  </div>
</div>