{{#nav-trigger-container isFixed=true}}
  <a href="//shipshape.io" class="logo">
    {{svg-jar "blueguy" height="75px" width="75px"}}
    <centered class="logoText">SHIP SHAPE</centered>
  </a>
{{/nav-trigger-container}}

<screen class="main">
  {{outlet}}
</screen>
{{wave-footer}}

{{#nav-container totalNavItems=model.links.length}}
  {{#each model.links as |link index|}}
    {{nav-item index=index link=link}}
  {{/each}}
{{/nav-container}}

{{!-- This is just to remove the spinner, after the app loads --}}
{{ember-load-remover}}
