<div itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="publisher" href="shipshapeorg">
  <link itemprop="image" href="shipshapelogo">

  <div class="section flex flex-wrap justify-center">
    <div class="max-w-lg w-full">
      <h1 class="blog-post-title" itemprop="headline">
        {{this.title}}
      </h1>

      <AuthorRow
        @author={{this.author}}
        @date={{this.date}}
      >
      </AuthorRow>

      <div class="post-content">
        {{this.content}}
      </div>

      <BottomLinksWithPath
        @nextLink="blog.post"
        @nextLinkPath={{this.nextSlug}}
        @nextLinkText={{this.nextTitle}}
        @previousLink="blog.post"
        @previousLinkPath={{this.previousSlug}}
        @previousLinkText={{this.previousTitle}}
      >
      </BottomLinksWithPath>
    </div>
  </div>
</div>
