<div itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="publisher" href="shipshapeorg">
  <link itemprop="image" href="shipshapelogo">

  <div class="post-content section flex flex-wrap justify-center">
    <div class="max-w-lg">
      <h1 class="blog-post-title" itemprop="headline">{{this.title}}</h1>
      <time class="post-date"
            datetime="{{this.date}}"
            itemprop="datePublished dateModified">
        {{date-format this.date "MM/DD/YYYY"}}
      </time>

      {{content}}
      <AuthorRow @author={{this.author}}></AuthorRow>
    </div>
  </div>
</div>
