<box itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="publisher" href="shipshapeorg">
  <link itemprop="image" href="shipshapelogo">
  <HeroBlock @heroClasses="blog-post">
    <h1 class="blog-post-title" itemprop="headline">{{this.title}}</h1>
    <time class="post-date"
          datetime="{{this.date}}"
          itemprop="datePublished dateModified">
      {{date-format this.date "MM/DD/YYYY"}}
    </time>
  </HeroBlock>

  <centered xs="12" class="post-content" id="post-content">
    <box xs="10" md="8">
      {{content}}
      <AuthorRow @author={{this.author}}></AuthorRow>
    </box>
  </centered>
</box>
