<box itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="publisher" href="shipshapeorg">
  <link itemprop="image" href="shipshapelogo">
  {{#hero-block
    heroClasses='blog-post'
    scrollToHref='#post-content'}}
    <grid>
      <centered xs="12">
        <h1 class="hero-header blog-post-title" itemprop="headline">{{title}}</h1>
      </centered>
      <centered xs="12">
        <time class="post-date"
              datetime="{{date}}"
              itemprop="datePublished dateModified">
          {{moment-format date 'LL'}}
        </time>
      </centered>
    </grid>
  {{/hero-block}}


  <centered xs="12" id="post-content">
    <box xs="8">
      {{{content}}}
      {{author-row
        author=author
        authorId=authorId}}
    </box>
  </centered>
</box>
