<div class="{{this.styleNamespace}} footer">
  <grid>
    <centered xs="12">
      <box fit>
        {{link-to "Home" "home"}}
      </box>
      <box fit>
        {{link-to "Ember Consulting" "ember-consulting"}}
      </box>
      <box fit>
        Open Source
      </box>
      <box fit>
        Contact
      </box>
      <box fit>
        Blog
      </box>
      <box class="logo" fit>
        {{svg-jar "logo" height="6rem" width="6rem"}}
      </box>
      <box fit>
        <a href="https://github.com/shipshapecode" aria-label="Ship Shape on GitHub">
          GitHub
        </a>
      </box>
      <box fit>
        <a href="https://twitter.com/shipshapecode" aria-label="Ship Shape on Twitter">
          Twitter
        </a>
      </box>
      <box fit>
        <a href="mailto:ahoy@shipshape.io" itemprop="email">ahoy@shipshape.io</a>
      </box>
    </centered>
    <centered class="copyright" xs="12">
      <div>
        {{svg-jar "copyright" height="2rem" width="2rem"}} {{this.year}} <span itemprop="legalName">Ship Shape Consulting LLC</span>
      </div>
    </centered>
  </grid>
</div>
