<div class="process_item {{additional-classes}}">
  <div class="process_item-container">
    {{svg-jar svg-name class="svg-icon" id=svg-id}}
    <header class="process_item-header">
      <h2 class="process_item-heading">{{heading}}</h2>
      <h5 class="process_item-subheading">{{subheading}}</h5>
    </header>
    <div class="process_item-content">
      {{yield}}
    </div>
  </div>
</div>
