<page class="technologies" id="technologies">
  <vbox>
    <hbox class="header">
      <centered xs="12">
        <h1>
          Technologies we use
        </h1>
      </centered>
    </hbox>
    <hbox class="logos">
      <centered xs="6" sm="4">
        {{svg-jar "ember" class="logo"}}
      </centered>
      <centered xs="6" sm="4">
        {{svg-jar "embercli" class="logo"}}
      </centered>
      <centered xs="6" sm="4">
        {{svg-jar "emberdata" class="logo"}}
      </centered>
      <centered xs="6" sm="4">
        {{svg-jar "node" class="logo"}}
      </centered>
      <centered xs="6" sm="4">
        {{svg-jar "sass" class="logo"}}
      </centered>
      <centered xs="6" sm="4">
        {{svg-jar "travis" class="logo"}}
      </centered>
    </hbox>
  </vbox>
</page>
