<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/3 text-center lg:text-left">
        <h3 class="heading text-5xl">
          Technologies we use
        </h3>
      </div>

      <div class="flex flex-wrap w-full lg:w-2/3 text-grey">
        <div class="w-1/2 sm:w-1/3 text-center">
          {{svg-jar "ember" class="fill-current w-full h-full p-4 max-w-xxs"}}
        </div>
        <div class="w-1/2 sm:w-1/3 text-center">
          {{svg-jar "embercli" class="fill-current w-full h-full p-4 max-w-xxs"}}
        </div>
        <div class="w-1/2 sm:w-1/3 text-center">
          {{svg-jar "emberdata" class="fill-current w-full h-full p-4 max-w-xxs"}}
        </div>
        <div class="w-1/2 sm:w-1/3 text-center">
          {{svg-jar "node" class="fill-current w-full h-full p-4 max-w-xxs"}}
        </div>
        <div class="w-1/2 sm:w-1/3 text-center">
          {{svg-jar "sass" class="fill-current w-full h-full p-4 max-w-xxs"}}
        </div>
        <div class="w-1/2 sm:w-1/3 text-center">
          {{svg-jar "travis" class="fill-current w-full h-full p-4 max-w-xxs"}}
        </div>
      </div>
    </div>
  </div>
</div>
