<div class="flex flex-wrap">
  <div class="flex flex-wrap pt-12 pb-12 w-full lg:pr-4 lg:w-1/2">
    <div class="w-full">
      {{svg-jar "netflix" class="h-10 w-auto"}}
      <p class="lg:h-12">
        Building finance tools for the world's number one streaming platform
      </p>

      {{link-to "View Case" "work.netflix" class="btn-navy mb-12"}}

      <div class="bg-netflix-red flex justify-center lg:p-12">
        <div>
          <img src="/img/work/netflix/cost-categories.png" alt="Netflix">
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap pt-12 pb-12 w-full lg:pl-4 lg:w-1/2">
    <div class="w-full">
      {{svg-jar "brokermate" class="h-10 w-auto"}}
      <p class="lg:h-12">
        Creating in depth site tours with Shepherd
      </p>
      {{link-to "View Case" "work.brokermate" class="btn-navy mb-12"}}

      <div class="bg-gradient-brokermate flex justify-center lg:p-12">
        <div>
          <img src="/img/work/brokermate/bm-desktop_step-detailed.png" alt="Brokermate">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap">
  {{!--
  <div class="flex flex-wrap pt-12 pb-12 w-full lg:pr-4 lg:w-1/2">
    <div class="w-full">
      {{svg-jar "acquia" class="h-10 w-auto"}}
      <p class="lg:h-12">
        Greenfield development
      </p>
      {{link-to "View Case" "work.acquia" class="btn-navy mb-12"}}

      <div class="bg-acquia-blue flex justify-center lg:p-12">
        <div>
          <img src="/img/work/desktop-placeholder.png" alt="Acquia">
        </div>
      </div>
    </div>
  </div>
  --}}

  <div class="flex flex-wrap pt-12 pb-12 w-full lg:pr-4 lg:w-1/2">
    <div class="w-full">
      {{svg-jar "socialcode" class="h-10 w-auto"}}
      <p class="lg:h-12">
        Refactoring a suite of apps and addons for clients to manage social media
      </p>
      {{link-to "View Case" "work.socialcode" class="btn-navy mb-12"}}

      <div class="bg-black flex justify-center lg:p-12">
        <div>
          <img src="/img/work/socialcode/aip.png" alt="SocialCode">
        </div>
      </div>
    </div>
  </div>
</div>