<div class="flex flex-wrap">
  <div class="flex flex-wrap pt-12 pb-12 w-full lg:w-1/2">
    <div class="w-full">
      {{svg-jar "netflix" class="h-10 w-auto"}}
      <p>Building finance tools for the world's number one streaming platform</p>
      {{link-to "View Case" "work.netflix" class="btn-navy mb-12"}}

      <div class="lg:pr-12">
        <img src="/img/cost-categories.png" alt="Netflix">
      </div>
    </div>
  </div>

  <div class="flex flex-wrap pt-12 pb-12 w-full lg:w-1/2">
    <div class="w-full">
      <h3 class="h-10 m-0 w-auto">Brokermate</h3>
      <p>Creating in depth site tours with Shepherd</p>
      {{link-to "View Case" "work.brokermate" class="btn-navy mb-12"}}

      <div class="lg:pr-12">
        <img src="/img/cost-categories.png" alt="Brokermate">
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="flex flex-wrap pt-12 pb-12 w-full lg:w-1/2">
    <div class="w-full">
      {{svg-jar "acquia" class="h-10 w-auto"}}
      <p>Greenfield development</p>
      {{link-to "View Case" "work.acquia" class="btn-navy mb-12"}}

      <div class="lg:pr-12">
        <img src="/img/cost-categories.png" alt="Acquia">
      </div>
    </div>
  </div>

  <div class="flex flex-wrap pt-12 pb-12 w-full lg:w-1/2">
    <div class="w-full">
      {{svg-jar "socialcode" class="h-10 w-auto"}}
      <p>Refactoring a suite of apps and addons for clients to manage social media</p>
      {{link-to "View Case" "work.socialcode" class="btn-navy mb-12"}}

      <div class="lg:pr-12">
        <img src="/img/cost-categories.png" alt="SocialCode">
      </div>
    </div>
  </div>
</div>