<div class="flex flex-wrap pt-12 pb-12">
  <div class="w-full lg:w-1/2">
    {{svg-jar "netflix"}}
    <p>Building finance tools for the world's number one streaming platform</p>
    {{link-to "View Case" "work.netflix" class="btn-navy mb-12"}}
  </div>

  <div class="w-full lg:w-1/2">
    <img src="/img/cost-categories.png">
  </div>
</div>

<div class="flex flex-wrap pt-12 pb-12">
  <div class="w-full lg:w-1/2">
    <h3>Brokermate</h3>
    <p>Creating in depth site tours with Shepherd</p>
    {{link-to "View Case" "work.brokermate" class="btn-navy mb-12"}}
  </div>

  <div class="w-full lg:w-1/2">
    <img src="/img/cost-categories.png">
  </div>
</div>

<div class="flex flex-wrap pt-12 pb-12">
  <div class="w-full lg:w-1/2">
    {{svg-jar "acquia"}}
    <p>Greenfield development</p>
    {{link-to "View Case" "work.acquia" class="btn-navy mb-12"}}
  </div>

  <div class="w-full lg:w-1/2">
    <img src="/img/cost-categories.png">
  </div>
</div>

<div class="flex flex-wrap pt-12 pb-12">
  <div class="w-full lg:w-1/2">
    {{svg-jar "socialcode"}}
    <p>Refactoring a suite of apps and addons for clients to manage social media</p>
    {{link-to "View Case" "work.socialcode" class="btn-navy mb-12"}}
  </div>

  <div class="w-full lg:w-1/2">
    <img src="/img/cost-categories.png">
  </div>
</div>