<div class="section {{this.styleNamespace}} flex flex-wrap justify-center">
  <div class="section-content">
    <div class="pb-8">
      {{svg-jar "netflix"}}
      <p>Building finance tools for the world's number one streaming platform</p>
      {{link-to "View Case" "work.netflix" class="btn-navy"}}
    </div>

    <div class="pt-8 pb-8">
      <h3>Brokermate</h3>
      <p>Creating in depth site tours with Shepherd</p>
      {{link-to "View Case" "work.brokermate" class="btn-navy"}}
    </div>

    <div class="pt-8 pb-8">
      <h3>Acquia</h3>
      <p>Greenfield development</p>
      {{link-to "View Case" "work.acquia" class="btn-navy"}}
    </div>

    <div class="pt-8">
      {{svg-jar "socialcode"}}
      <p>Refactoring a suite of apps and addons for clients to manage social media</p>
      {{link-to "View Case" "work.socialcode" class="btn-navy"}}
    </div>
  </div>
</div>