<div class="{{this.styleNamespace}} section flex flex-wrap justify-center">
  <div class="section-content">
    <div class="text-center w-full">
      <h3 class="heading">
        We've had the pleasure of working with
      </h3>
    </div>

    <div class="flex flex-wrap items-center w-full">
      <div class="client-logo">
        {{svg-jar "scout" class="h-full w-full max-w-xs"}}
      </div>
      <div class="client-logo">
        {{svg-jar "greenlight-guru" class="h-full w-full max-w-xs"}}
      </div>
      <div class="client-logo">
        {{svg-jar "netflix" class="h-full w-full max-w-xs"}}
      </div>
      <div class="client-logo">
        {{svg-jar "mariana-tek-full" class="h-full w-full max-w-xs"}}
      </div>
      <div class="client-logo">
        {{svg-jar "socialcode" class="h-full w-full max-w-xs"}}
      </div>
    </div>

    <div class="flex justify-center w-full">
      {{#link-to "work" class="btn-navy mb-12"}}
        View case studies
      {{/link-to}}
    </div>
  </div>
</div>
