<div class="{{this.styleNamespace}} flex flex-wrap section">
  <div class="text-center w-full">
    <h3>
      We've had the pleasure of working with
    </h3>
  </div>

  <div class="flex flex-wrap items-center w-full">
    <div class="p-8 w-1/2 lg:p-12 lg:w-auto lg:flex-1 text-center">
      {{svg-jar "scout" class="h-full w-full max-w-xs"}}
    </div>
    <div class="p-8 w-1/2 lg:p-12 lg:w-auto lg:flex-1 text-center">
      {{svg-jar "greenlight-guru" class="h-full w-full max-w-xs"}}
    </div>
    <div class="p-8 w-1/2 lg:p-12 lg:w-auto lg:flex-1 text-center">
      {{svg-jar "netflix" class="h-full w-full max-w-xs"}}
    </div>
    <div class="p-8 w-1/2 lg:p-12 lg:w-auto lg:flex-1 text-center">
      {{svg-jar "mariana-tek-full" class="h-full w-full max-w-xs"}}
    </div>
    <div class="p-8 w-1/2 lg:p-12 lg:w-auto lg:flex-1 text-center">
      <img
        src="/img/worked-with/socialcode.png" alt="SocialCode"
        class="h-full w-full max-w-xs"
      >
    </div>
  </div>

  <div class="flex justify-center w-full">
    {{#link-to "work" class="btn-navy mb-12"}}
      View case studies
    {{/link-to}}
  </div>
</div>
