{{head-layout}}
<div itemscope itemtype="https://schema.org/Organization" itemid="shipshapeorg">
  {{nav-menu}}

  <screen class="main">
    {{outlet}}
  </screen>

  {{wave-footer}}

  {{folding-panel}}
</div>