{{#hero-block
  heroClasses='contact'
  scrollToHref='#contact-form'}}
  <h1 class="hero-header">Contact</h1>
{{/hero-block}}



<page class="contact-form" id="contact-form">
  <centered>
    <form class="cd-form floating-labels"
      {{action (route-action 'sendContactRequest' contact) on="submit"}}>
      <fieldset>
        <legend>Personal Info</legend>
        <centered xs="12">
          {{contact-input
            fieldName="name"
            labelText="Name"
            required=true
            type="text"
            value=contact.name
          }}
        </centered>

        <centered xs="12">
          {{contact-input
            fieldName="company"
            labelText="Company"
            required=false
            type="text"
            value=contact.company
          }}
        </centered>

        <centered xs="12">
          {{contact-input
            fieldName="email"
            labelText="Email"
            required=true
            type="email"
            value=contact.email
          }}
        </centered>
      </fieldset>

      <fieldset>
        <legend>Project Info</legend>

        <centered xs="12">
          {{form-list
            groupValue=contact.projectType
            options=projectTypes
            type="radio"}}
        </centered>

        <centered xs="12">
          {{contact-input
            fieldName="textarea"
            labelText="Project description"
            required=true
            textarea=true
            value=contact.description
          }}
        </centered>

      </fieldset>

      <div>
        {{input
          disabled=sendDisabled
          type="submit"
          value="Send Message"}}
      </div>

      <vbox class="alerts">
        <centered>
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}
        </centered>
      </vbox>
    </form>
  </centered>
</page>
