<page class="contact-form" id="contact-form">
  <centered>
    <form class="cd-form floating-labels" name="contact-us" netlify-honeypot="bot-field"
      {{action (route-action "sendContactRequest" model) on="submit"}} netlify>
      <fieldset>
        <legend>Personal Info</legend>
        <centered xs="12" class="bot-field">
          <label>Don’t fill this out if you're human: <input name="bot-field"></label>
        </centered>

        <centered xs="12">
          {{contact-input
            fieldName="name"
            labelText="Name"
            required=true
            type="text"
            value=model.name
          }}
        </centered>

        <centered xs="12">
          {{contact-input
            fieldName="company"
            labelText="Company"
            required=false
            type="text"
            value=model.company
          }}
        </centered>

        <centered xs="12">
          {{contact-input
            fieldName="email"
            labelText="Email"
            required=true
            type="email"
            value=model.email
          }}
        </centered>
      </fieldset>

      <fieldset>
        <legend>Project Info</legend>

        <centered xs="12">
          {{form-list
            groupValue=model.projectType
            options=projectTypes
            type="radio"}}
        </centered>

        <centered xs="12">
          {{contact-input
            fieldName="description"
            labelText="Project description"
            required=true
            textarea=true
            value=model.description
          }}
        </centered>

      </fieldset>

      <div>
        {{input
          disabled=(v-get model "isTruelyInvalid")
          type="submit"
          value="Send Message"}}
      </div>

      <vbox class="alerts">
        <centered>
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}
        </centered>
      </vbox>
    </form>
  </centered>
</page>
