<title>{{model.title}}</title>
<meta name="description" content={{model.description}}>
<meta property="og:site_name" content="Ship Shape">
<meta property="og:title" content={{model.title}} />
<meta property="og:description" content={{model.description}}>
<meta property="og:type" content={{model.type}}>
<meta property="og:image" content={{model.image}}>
<meta property="og:url" content={{model.url}}>
